<?xml version="1.0" encoding="utf-8"?>
<!--
 Patrick John Haskins
 Zachary Evans
 CS7020 - Term Project
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.otasyn.cardgames"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >
        <activity
            android:name="android.otasyn.cardgames.MainActivity"
            android:label="@string/appName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirebaseActivity"
            android:label="@string/titleActivityGame" >
        </activity>
        <activity android:name=".manage.account.activity.LoginActivity"/>
        <activity android:name=".manage.account.activity.RegisterActivity"/>
        <activity android:name=".manage.account.activity.FriendsListActivity"/>
        <activity android:name=".manage.account.activity.GamesListActivity"/>
        <activity android:name=".AndEngineActivity"/>
        <activity android:name=".Cards46x64Activity"/>
        <activity android:name=".Cards92x128Activity"/>
        <activity android:name=".Cards184x256Activity"/>
        <activity android:name=".CardsFullSizeActivity"/>
        <activity android:name=".DemosActivity"/>
        <activity android:name=".activity.FreestyleGameActivity"/>
        <activity android:name=".activity.FivesGameActivity"/>
    </application>

</manifest>